@using EtrianOdysseyClone.Pages.Tools

<h3>Guild</h3>
<img src="/Images/Guild.jpg" asp-append-version="true" />
<PrimarySideMenu></PrimarySideMenu>

@code {
    private List<string> _menuOptions = new List<string>(){ "Register", "Organize"};

}
