@using EtrianOdysseyClone.Pages.Tools

<h3>Guild</h3>
<img src="/Images/Guild.jpg" asp-append-version="true" />
<PrimarySideMenu OptionNames="_menuOptions" OptionSelected="@OnMenuSelection"></PrimarySideMenu>
<label>@_selectedOption</label>

@code {
    private List<string> _menuOptions;
    private string _selectedOption;

    protected override void OnInitialized()
    {
        _menuOptions = new List<string>() { "Register", "Organize", "Formation", "Leave" };
    }

    private void OnMenuSelection(string selectedOption)
    {
        _selectedOption = selectedOption;
    }
}
