@using EtrianOdysseyClone.Pages.Tools
@using EtrianOdysseyClone.Data
@inject GameSession SessionInfo


<div class="flex flex-row">
    <div>
        <PrimarySideMenu OptionNames="_menuOptions" OptionSelected="@OnMenuSelection"></PrimarySideMenu>
    </div>
    <div>
        <h3>Town</h3>
        <img src="/Images/Town.jpg" asp-append-version="true" />
    </div>
</div>

@code {
    private List<string> _menuOptions;
    private string _selectedOption;

    protected override void OnInitialized()
    {
        _menuOptions = new List<string>() { "Flaus Inn",
            "Renovation Shop", "Stickleback Bar",
            "Explorers Guild", "Dungeon Entrance" };
    }

    private void OnMenuSelection(string selectedOption)
    {
        _selectedOption = selectedOption;
        switch (selectedOption)
        {
            case "Flaus Inn":
                SessionInfo.CurrentLocation = OverworldLocation.Inn;
                break;

            case "Renovation Shop":
                SessionInfo.CurrentLocation = OverworldLocation.Shop;
                break;

            case "Stickleback Bar":
                SessionInfo.CurrentLocation = OverworldLocation.Bar;
                break;

            case "Explorers Guild":
                SessionInfo.CurrentLocation = OverworldLocation.Guild;
                break;

            case "Dungeon Entrance":
                SessionInfo.CurrentLocation = OverworldLocation.Dungeon;
                break;
        }
    }
}

