@page "/dungeon" 

<div class="p-5 grid grid-cols-10">
    <div class="border border-black border-r-0 bg-blue-600 flex justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
    </div>
    <div class="border border-black border-r-0 bg-blue-300"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black border-r-0"></div>
    <div class="border border-black h-10"></div>
    <div class="border border-black border-t-0 border-r-0 bg-blue-300"></div>
    <div class="border border-black border-t-0 border-r-0 bg-blue-300"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0 border-b-0 border-l4"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0 border-l-4 border-b-4"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black border-t-0 border-r-0"></div>
    <div class="border border-black h-10 border-t-0"></div>
</div>

        @code {

        }
