@using EtrianOdysseyClone.Pages.Overworld
@using EtrianOdysseyClone.Data
@inject GameSession SessionInfo
@page "/"

<head>
    This is a Head
</head>

<body style="border:gray; border-width:2px; border-style:solid;">
    @SelectComponent()
</body>
<button class="rounded-md bg-blue-400 p-4 m-10 border-blue-900 shadow-sm" @onclick="SwitchComponent">Example Button</button>

@code {

    private void SwitchComponent()
    {
        if (SessionInfo.CurrentLocation == OverworldLocation.MainMenu)
            SessionInfo.CurrentLocation = OverworldLocation.Bar;
        else
            SessionInfo.CurrentLocation = OverworldLocation.MainMenu;

        StateHasChanged();
    }

    private RenderFragment SelectComponent()
    {
        RenderFragment componentToDisplay = null;

        switch (SessionInfo.CurrentLocation)
        {
            case OverworldLocation.MainMenu:
                componentToDisplay = RenderComponent(componentToDisplay, typeof(MenuComponent));
                break;
            case OverworldLocation.Bar:
                componentToDisplay = RenderComponent(componentToDisplay, typeof(HotswappingImage));
                break;
        }

        return componentToDisplay;
    }

    private RenderFragment RenderComponent(RenderFragment componentToDisplay, Type componentType)
    {
        componentToDisplay = b =>
        {
            b.OpenComponent(1, componentType);
            b.CloseComponent();
        };
        return componentToDisplay;
    }
}
