<h3>PrimarySideMenu</h3>
<body>
    @foreach (var option in OptionNames)
    {
    <div class="border-light">
        <button @onclick="() => OnOptionSelected(option)">@option</button>
    </div>
    }
</body>
@code {
    [Parameter]
    public List<string> OptionNames { get; set; }

    [Parameter]
    public EventCallback<string> OptionSelected { get; set; }

    private Task OnOptionSelected(string selectedOption)
    {
        return OptionSelected.InvokeAsync(selectedOption);
    }
}
