<div>
    @foreach (var option in OptionNames)
    {
        <div>
            <div class="flex flex-col justify-evenly mr-3">
                <button class="bg-blue-300 bg-opacity-60 rounded-r-lg text-center text-wrap px-20 py-2 text-gray-700 font-bold mb-2" @onclick="() => OnOptionSelected(option)">@option</button>
            </div>
        </div>
    }
</div>
@code {
    [Parameter]
    public List<string> OptionNames { get; set; }

    [Parameter]
    public EventCallback<string> OptionSelected { get; set; }

    private Task OnOptionSelected(string selectedOption)
    {
        return OptionSelected.InvokeAsync(selectedOption);
    }
}
